<p id="notice"><%= notice %></p>

<form>
  <fieldset disabled>
    <div class="form-group">
      <%= label_tag nil, "Descrição" %>
      <%= text_field_tag nil, @mining_type.description, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag nil, "Sigla" %>
      <%= text_field_tag nil, @mining_type.acronym, class:"form-control" %>
    </div>
  </fieldset>
</form>

<%= link_to 'Edit', edit_mining_type_path(@mining_type), class:"btn btn-primary" %>
<%= link_to 'Back', mining_types_path, class:"btn btn-primary" %>
